.header {
	height: 18%;
	width: 100%;
	background-color: var(--main-nav-background-color);
	box-shadow: 6px 6px 6px 2px var(--shadow-color);
}

.navigation {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.navigation ul {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.navigation li {
	font-size: 2rem;
	margin-left: 3rem;
	margin-right: 1rem;
}

.logo {
	font-size: 2rem;
	font-style: italic;
	padding: 2rem;
}
