.master {
	height: 100rem;
	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	gap: 1rem;
}

@media (max-width: 768px) {
	.master {
		height: 100rem;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 20% 20% 20% 20% 20%;
		gap: 0.5rem;
	}
}
