:root {
	--main-background-color: #f1faee;
	--shadow-color: #85acb7;

	--list-background-color: #a8dadc;
	--list-item-highlight: #f84963;
	--shadow-highlight: #d6305c;

	--intro-background-color: #a8dadc;
	--cult-details-background-color: #a8dadc;

	--main-nav-background-color: #457b9d;

	color: #1d3557;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	max-width: 100vw;
	/* height: 100vh; */
	overflow-x: hidden;
	padding-bottom: 2rem;

	background: var(--main-background-color);
}

main {
	height: 82%;
	display: grid;
	grid-template-columns: 15% 40% auto;
	gap: 1rem;
	margin: 0;
	padding: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

div {
	padding: 0.5rem;
	border-radius: 4px;
	box-shadow: 6px 6px 6px 2px var(--shadow-color);
}

p {
	text-wrap: wrap;
}
