.master {
	grid-area: 1/ 2 / span 2 / span 1;
	background-color: var(--cult-details-background-color);
	height: fit-content;
}

.master h2 {
	margin-bottom: 2rem;
}

.list {
	list-style: none;
	position: relative;
}
