.cult {
	position: relative;
	z-index: 1;
	border-radius: 8px;
	padding: 1rem;
}

.cult:hover {
	cursor: pointer;
	scale: 1.1;
	padding: 1rem;
	background-color: var(--list-item-highlight);
	box-shadow: 6px 6px 6px 2px var(--shadow-highlight);

	/* transform: scale(1.2); */
}

.focused {
	position: relative;
	border-radius: 8px;
	padding: 1rem;
	background-color: var(--list-item-highlight);
	box-shadow: 6px 6px 6px 2px var(--shadow-highlight);
}

.description {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
